/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';
//@import 'partials/setup/mpnDisplay';

/***** Site Components ******/



.mpnOverlay {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              background: transparent;
              font-size: 30em;
              color: #bdbec3;
              opacity: .1;
              display:  flex;
              justify-content: center;
              align-items: center;
              z-index: -1;
}



button {
  font-size: 20px;
  padding: 10px;
  background: white;
  border: 2px solid #626572;
  border-radius: 5px;
  cursor: pointer;
  color: 	#626572;
}

body {
  padding: 40px 0;
  position: relative;
}

body > header {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #626572;
  color: #fff;
  font-size: 30px;

}

nav {
  width: 100%;
  background-color: #e0dcd1;
  z-index: 99;
  ul {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    li {

      padding: 10px;
      &:first-child {
        pointer-events: inherit;
        cursor: pointer;
        &:hover {
          -moz-box-shadow:inset 0px -6px 0px #009eb3;
          -webkit-box-shadow:inset 0px -6px 0px #009eb3;
          box-shadow:inset 0px -6px 0px #009eb3;
        }
      }
      &:last-child {
        pointer-events: inherit;
        cursor: pointer;
        &:hover {
          -moz-box-shadow:inset 0px -6px 0px #009eb3;
          -webkit-box-shadow:inset 0px -6px 0px #009eb3;
          box-shadow:inset 0px -6px 0px #009eb3;
        }
      }
      &.active {
        -moz-box-shadow:inset 0px -6px 0px #009eb3;
        -webkit-box-shadow:inset 0px -6px 0px #009eb3;
        box-shadow:inset 0px -6px 0px #009eb3;

      }
    }
  }
}

body > main {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 2px solid black;
    header {
      min-height: 50px;
      width: 100%;
      padding: 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px 0;
      h1 {
      border-bottom: 2px solid black;
      font-size: 25px;
      padding: 10px 0;
    }
    }
    main {
      width: 100%;
      min-height: 60%;
      padding: 0 40px;
       label, textarea {
        width: 100%;
      }
        h2 {
          font-size: 20px;
          margin: 15px 0;
          padding-bottom: 5px;
          border-bottom: 2px solid #bdbec3;
        }

      &.preview {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    footer {
      min-height: 100px;
      width: 100%;
      padding: 0 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
    }

    .footButtons {
      width: 220px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .welcomeBtn {
      h1 {
        font-size: 30px;
        color:  #626572;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      display: flex;
      flex-direction: column;
      text-align: center;
    .startBtn {
      font-size: 35px;
      width: 400px;
      align-self: center;
      margin-top: 20px;
    }
  }
}

.instructionsLink {
  text-decoration: none;
  color: #009eb3;
}

.summaryPreview {
  width: 400px;
  font-size: 13px;
  h3 {
    font-weight: bold;
  }
  div {
    margin: 10px;
  }
}

 #jsDownload {
  display: none;
}

.copiedContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.popupContainer {
  width: 100px;
  display: flex;
  justify-content: flex-start;

.copiedPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;

  &.active {
  opacity: 1;
  transform:  translate(13px);
  }

}

.copiedPopup:after {
content: '';
display: block;
position: absolute;
top: 11px;
right: -7px;
width: 11px;
height: 10px;
background: #FFFFFF;
border-right:2px solid #000;
border-bottom:2px solid #000;
 -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}
}

.directionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  background-color: #fff;

  .mpnDirections {
    width: 55%;
    margin-right: 10px;
    //overflow: scroll;

    button {
      margin: 10px 0;
    }

    header >  h3 , h3 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px;
    }


    ul {
      border: 2px solid black;
      border-radius: 3px;
      padding: 15px;
      overflow: scroll;
      //height: 450px;

      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #eee
      }
    }
  }
}

.policyJsonContainer {
  width: 45%;

  header > button {
    font-size: 15px;
    margin-bottom: 5px;
  }

.jsonPreview, .policyDisplayPreview {
  width: 100%;
  height: 450px;
  overflow: scroll;
  border: 2px solid black;
  border-radius: 3px;
}

  .jsonPreview {
    background-color: #f8f8f8;
    white-space: pre;
    padding: 10px;
  }

}
