/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';

/***** Site Components ******/

button {
  font-size: 20px;
  padding: 10px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

body {
  padding: 40px 0;
  position: relative;
}

body > header {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body > main {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  overflow: scroll;
  padding: 10px;
  .mpnCreatorContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    height: 85%;
    width: 85%;
    overflow: scroll;
    nav {
      border-bottom: 2px solid black;
      width: 100%;
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          cursor: pointer;
          padding: 10px;
          background: #ccc;
          &.active {
            background: #7f7;
          }
        }
      }
    }
    header {
      min-height: 50px;
      width: 100%;
      padding: 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bold;
    }
    main {
      width: 100%;
      min-height: 60%;
      padding: 0 40px;
      overflow: scroll;
      h2, label, textarea {
        width: 100%;
      }
      &.preview {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    footer {
      min-height: 100px;
      width: 100%;
      padding: 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .startBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .previewBtn {
      width: 150px;
    }
  }
}

body > footer {
  height: 40px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.summaryPreview {
  width: 400px;
  font-size: 13px;
  h3 {
    font-weight: bold;
  }
  div {
    margin: 10px;
  }
}
