<h2>Directions for the health technology developer: If the health technology developer is a HIPAA covered entity, select one of the following statements to be inserted in the privacy notice:</h2>
<p>Option 1: Please note that the health data we collect as part of this [insert name of technology product] are not protected by HIPAA and our company’s HIPAA Notice of Privacy Practices does not apply.</p>
<p>Option 2: Some of the health data we collect as part of this [insert name of technology product] also are protected by HIPAA. Read our HIPAA Notice of Privacy Practices (embed link or popup] for more information.</p>
<button ui-sref="use">Next</button>
