<header>
  <h1>HIPAA Protection of Data</h1>
</header>
<main>
  <h2>Select one of the following statements:</h2>
  <p>
    <input type="radio" name="hipaaOption" ng-model="hipaa.protected" ng-value="'No'" ng-change="hipaa.updateData('hipaa.protected', hipaa.protected)"> The health data your product collects is not protected by HIPAA and your company’s HIPAA Notice of Privacy Practices does not apply.
  </p>
  <p>
    <input type="radio" name="hipaaOption" ng-model="hipaa.protected" ng-value="'Yes'" ng-change="hipaa.updateData('hipaa.protected', hipaa.protected)"> Some of the health data your product collects is protected by HIPAA.
  </p>
  <p ng-if="hipaa.protected === 'Yes'">
    Enter link to your HIPAA Notice of Privacy Practices: <input type="text" ng-model="hipaa.noticeUrl" placeholder="Enter Link Here" ng-change="hipaa.updateData('hipaa.noticeUrl', hipaa.noticeUrl)">
  </p>
</main>
<footer>
  <button ui-sref="use">Next</button>
</footer>
