<button>Start Creating MPN</button>
<form>
  <h2>Directions for the health technology developer: If the health technology developer is a HIPAA covered entity, select one of the following statements to be inserted in the privacy notice:</h2>
  <p>Option 1: Please note that the health data we collect as part of this [insert name of technology product] are not protected by HIPAA and our company’s HIPAA Notice of Privacy Practices does not apply.</p>
  <p>Option 2: Some of the health data we collect as part of this [insert name of technology product] also are protected by HIPAA. Read our HIPAA Notice of Privacy Practices (embed link or popup] for more information.</p>
  <h2>Use: How we use your data internally</h2>
  <p>We collect and use your identifiable data:</p>
  <ul>
    <li>To provide the primary service of the app or technology</li>
    <li>To develop marketing materials for our products</li>
    <li>To conduct scientific research</li>
    <li>For company operations (e.g., quality control or fraud detection)</li>
    <li>To develop and improve new and current products and services (e.g., analytics)</li>
    <li>Other: _____ </li>
  </ul>
  <h2>Share: How we share your data externally with other companies or entities</h2>
  <p>We share your identifiable data:</p>
  <ul>
    <li>To provide the primary service of the app or technology</li>
    <li>To conduct scientific research</li>
    <li>For company operations (e.g. quality control or fraud detection)</li>
    <li>To develop and improve new and current products and services (e.g., analytics)</li>
    <li>Other:________</li>
    <li>We DO NOT share your identifiable data</li>
  </ul>
  <p>We share your data AFTER removing identifiers (note that remaining data may not be anonymous):</p>
  <ul>
    <li>To provide the primary service of the app or technology</li>
    <li>To conduct scientific research</li>
    <li>For company operations (e.g. quality control or fraud detection)</li>
    <li>To develop and improve new and current products and services (e.g., analytics)</li>
    <li>Other:________</li>
    <li>We DO NOT share your data after removing identifiers</li>
  </ul>
  <h2>Sell: Who we sell your data to</h2>
  <p>We sell your identifiable data to data brokers, marketing, advertising networks, or analytics firms.</p>
  <ul>
    <li>Yes</li>
    <li>Yes; only with your permission</li>
    <li>No</li>
  </ul>
  <p>We sell your data AFTER removing identifiers (note that remaining data may not be anonymous) to data brokers, marketing, advertising networks, or analytics firms.</p>
  <ul>
    <li>Yes</li>
    <li>Yes; only with your permission</li>
    <li>No</li>
  </ul>
  <h2>Store: How we store your data</h2>
  <p>Is your data stored on your device?</p>
  <ul>
    <li>Yes</li>
    <li>No</li>
  </ul>
  <p>Is your data stored outside your device at our company or through a third party?</p>
  <ul>
    <li>Yes</li>
    <li>No</li>
  </ul>
  <h2>Encryption: How we encrypt your data</h2>
  <p>Does the app or technology use encryption to…</p>
  <p>encrypt your data in the device or app?</p>
  <ul>
    <li>Yes, by default</li>
    <li>Yes, when you take certain steps (click to learn how)</li>
    <li>No</li>
    <li>N/A</li>
  </ul>
  <p>encrypt your data when stored on our company servers or with an outside cloud computing services provider? </p>
  <ul>
    <li>Yes, by default</li>
    <li>Yes, when you take certain steps (click to learn how)</li>
    <li>No</li>
    <li>N/A</li>
  </ul>
  <p>encrypt your data while it is transmitted?</p>
  <ul>
    <li>Yes, by default</li>
    <li>Yes, when you take certain steps (click to learn how)</li>
    <li>No</li>
    <li>N/A</li>
  </ul>
  <h2>Privacy: How this technology accesses other data</h2>
  <p>Will this technology or app request access to other device data or applications, such as your phone’s camera, photos, or contacts? </p>
  <ul>
    <li>Yes, only with your permission. It connects to...
      <ul>
        <li>Camera</li>
        <li>Photos</li>
        <li>Contacts</li>
        <li>Location Services</li>
        <li>Microphone</li>
        <li>Health monitoring devices</li>
        <li>Other: _____________ </li>
      </ul>
    </li>
    <li>[If yes] Here is how you can check your settings, including permissions set as a default [If no] No </li>
  </ul>
  <p>Does this technology or app allow you to share the collected data with your social media accounts, like Facebook? </p>
  <ul>
    <li>Yes</li>
    <li>Yes, only with your permission</li>
    <li>[If yes] Here is how you can check your settings [If no] No</li>
  </ul>
  <h2>User Options: What you can do with the data that we collect</h2>
  <p>Can you access, edit, share, or delete the data we have about you? </p>
  <ul>
    <li>Yes. You can...
      <ul>
        <li>Access your data</li>
        <li>Edit your data</li>
        <li>Share your data</li>
        <li>Delete your data</li>
      </ul>
    </li>
    <li>[If yes] Here is how to do this [If no] No</li>
  </ul>
  <h2>Deactivation: What happens to your data when your account is deactivated</h2>
  <p>When your account is deactivated/terminated by you or the company, your data are… </p>
  <ul>
    <li>Deleted immediately</li>
    <li>Deleted after x years</li>
    <li>Permanently retained and used</li>
    <li>Retained and used until you request deletion</li>
  </ul>
  <h2>Policy Changes: How we will notify you if our privacy policy changes</h2>
  <p>Describe how/if the company will notify consumers of privacy policy changes (e.g. merger or acquisition) and provide link to section in privacy policy.</p>
  <h2>Breach: How we will notify you and protect your data in case of an improper disclosure</h2>
  <p>(Company name] complies with all applicable laws regarding breaches. Describe how the company will protect consumers’ data in the case of a breach and provide link to section in privacy policy.</p>
  <h2>Contact Us</h2>
  <ul>
    <li>[Legal Entity Name]</li>
    <li>[Link to full privacy policy]</li>
    <li>[Link to Online Comment/Contact Form]</li>
    <li>[Email Address]</li>
    <li>[Phone Number]</li>
    <li>[Address; minimum, Country]</li>
  </ul>
  <button ng-click="home.createMPN()">Create MPN</button>
</form>
