<header>
  <h1>Policy Changes: How you will notify the user if your privacy policy changes</h1>
</header>
<main>
  <h2>Describe how/if you will notify users of privacy policy changes (e.g. merger or acquisition). Provide link to section in privacy policy.</h2>
  <form name="policyForm" novalidate>
  <textarea placeholder="Describe notification method here." name="policyText" ng-model="policy.notificationMethod" ng-change="policy.updateData('policy.notificationMethod', policy.notificationMethod)"> </textarea>
</main>
<footer>
  <span ng-show="!policyForm.policyText.$dirty">Please Complete This Section</span>
  <div class="footButtons">
  <button ui-sref="deactivation">Previous</button>
  <button ng-disabled="!policyForm.policyText.$dirty" ui-sref="breach">Next</button>
</div>
</form>
</footer>
