<header>
  <h1>Privacy</h1>
</header>
<main>
  <h2>Privacy: How this technology accesses other data</h2>
  <p>Will this technology or app request access to other device data or applications, such as your phone’s camera, photos, or contacts? </p>
  <ul>
    <li>Yes, only with your permission. It connects to...
      <ul>
        <li>Camera</li>
        <li>Photos</li>
        <li>Contacts</li>
        <li>Location Services</li>
        <li>Microphone</li>
        <li>Health monitoring devices</li>
        <li>Other: _____________ </li>
      </ul>
    </li>
    <li>[If yes] Here is how you can check your settings, including permissions set as a default [If no] No </li>
  </ul>
  <p>Does this technology or app allow you to share the collected data with your social media accounts, like Facebook? </p>
  <ul>
    <li>Yes</li>
    <li>Yes, only with your permission</li>
    <li>[If yes] Here is how you can check your settings [If no] No</li>
  </ul>
</main>
<footer>
  <button ui-sref="user">Next</button>
</footer>
