<h2>Sell: Who we sell your data to</h2>
<p>We sell your identifiable data to data brokers, marketing, advertising networks, or analytics firms.</p>
<ul>
  <li>Yes</li>
  <li>Yes; only with your permission</li>
  <li>No</li>
</ul>
<p>We sell your data AFTER removing identifiers (note that remaining data may not be anonymous) to data brokers, marketing, advertising networks, or analytics firms.</p>
<ul>
  <li>Yes</li>
  <li>Yes; only with your permission</li>
  <li>No</li>
</ul>
<button ui-sref="store">Next</button>
