<header>
  <h1>Selling Data: Who you sell the user's data to</h1>
</header>
<main ng-init="sell.checkStatus()">
  <h2>You sell the user's identifiable data to data brokers, marketing, advertising networks, or analytics firms.</h2>
  <ul>
    <li><input type="radio" name="dataWithIdOption" ng-model="sell.dataWithId" ng-value="'Yes'" ng-change="sell.updateData('sell.dataWithId', sell.dataWithId)">Yes</li>
    <li><input type="radio" name="dataWithIdOption" ng-model="sell.dataWithId" ng-value="'Yes. With your permission,'" ng-change="sell.updateData('sell.dataWithId', sell.dataWithId)">Yes; only with the user's permission</li>
    <li><input type="radio" name="dataWithIdOption" ng-model="sell.dataWithId" ng-value="'No'" ng-change="sell.updateData('sell.dataWithId', sell.dataWithId)">No</li>
  </ul>
  <h2>You sell the user's data AFTER removing identifiers (note that remaining data may still not be completely anonymous) to data brokers, marketing, advertising networks, or analytics firms.</h2>
  <ul>
    <li><input type="radio" name="dataNoIdOption" ng-model="sell.dataNoId" ng-value="'Yes'" ng-change="sell.updateData('sell.dataNoId', sell.dataNoId)">Yes</li>
    <li><input type="radio" name="dataNoIdOption" ng-model="sell.dataNoId" ng-value="'Yes. With your permission,'" ng-change="sell.updateData('sell.dataNoId', sell.dataNoId)">Yes; only with the user's permission</li>
    <li><input type="radio" name="dataNoIdOption" ng-model="sell.dataNoId" ng-value="'No'" ng-change="sell.updateData('sell.dataNoId', sell.dataNoId)">No</li>
  </ul>
</main>
<footer>
  <span ng-show="!sell.dataBothCheck">Please Complete This Section</span>
  <div class="footButtons">
  <button ui-sref="share">Previous</button>
  <button ui-sref="store" ng-disabled="!sell.dataBothCheck">Next</button>
</div>
</footer>
