<h2>Share: How we share your data externally with other companies or entities</h2>
<p>We share your identifiable data:</p>
<ul>
  <li>To provide the primary service of the app or technology</li>
  <li>To conduct scientific research</li>
  <li>For company operations (e.g. quality control or fraud detection)</li>
  <li>To develop and improve new and current products and services (e.g., analytics)</li>
  <li>Other:________</li>
  <li>We DO NOT share your identifiable data</li>
</ul>
<p>We share your data AFTER removing identifiers (note that remaining data may not be anonymous):</p>
<ul>
  <li>To provide the primary service of the app or technology</li>
  <li>To conduct scientific research</li>
  <li>For company operations (e.g. quality control or fraud detection)</li>
  <li>To develop and improve new and current products and services (e.g., analytics)</li>
  <li>Other:________</li>
  <li>We DO NOT share your data after removing identifiers</li>
</ul>
<button ui-sref="sell">Next</button>
