<header>
  <h1>Using Data: How you use the user's data internally</h1>
</header>
<main>
  <h2>You collect and use the user's identifiable data:</h2>
  <ul>
    <li><input type="checkbox" ng-model="use.primaryService" ng-change="use.updateData('use.primaryService', use.primaryService)">To provide the primary service of your product</li>
    <li><input type="checkbox" ng-model="use.marketing" ng-change="use.updateData('use.marketing', use.marketing)">To develop marketing materials for your products</li>
    <li><input type="checkbox" ng-model="use.scientificResearch" ng-change="use.updateData('use.scientificResearch', use.scientificResearch)">To conduct scientific research</li>
    <li><input type="checkbox" ng-model="use.companyOps" ng-change="use.updateData('use.companyOps', use.companyOps)">For company operations (e.g., quality control or fraud detection)</li>
    <li><input type="checkbox" ng-model="use.development" ng-change="use.updateData('use.development', use.development)">To develop and improve new and current products and services (e.g., analytics)</li>
    <li><input type="checkbox" ng-model="use.other" ng-change="use.updateData('use.other', use.other)">Other <input type="text" ng-if="use.other" ng-model="use.otherDescription" placeholder="Describe data use here" ng-change="use.updateData('use.otherDescription', use.otherDescription)"></li>
  </ul>
</main>
<footer>
  <button ui-sref="share">Next</button>
</footer>
