<header>
  <h1>User Options: What the user can do with the data your product collects</h1>
</header>
<main>
  <h2>Can the user access, edit, share, or delete the data your product has about them? </h2>
  <ul>
    <li><input type="radio" name="user.hasOptions" ng-model="user.hasOptions" ng-value="'Yes'" ng-change="user.updateData('user.hasOptions', user.hasOptions)">Yes. The user can...
      <ul ng-if="user.hasOptions === 'Yes'">
        <li><input type="checkbox" ng-model="user.access" ng-change="user.updateData('user.access', user.access)">Access the data</li>
        <li><input type="checkbox" ng-model="user.edit" ng-change="user.updateData('user.edit', user.edit)">Edit the data</li>
        <li><input type="checkbox" ng-model="user.share" ng-change="user.updateData('user.share', user.share)">Share the data</li>
        <li><input type="checkbox" ng-model="user.delete" ng-change="user.updateData('user.delete', user.delete)">Delete the data</li>
      </ul>
    </li>
    <li><input type="radio" name="user.hasOptions" ng-model="user.hasOptions" ng-value="'No'" ng-change="user.updateData('user.hasOptions', user.hasOptions)">No</li>
  </ul>
</main>
<footer>
  <button ui-sref="deactivation">Next</button>
</footer>
