
<main class="preview">
  <div class="directionsContainer">
    <div class="mpnDirections">
      <header><h3>Directions</h3></header>
    <ul>
      <li>
        <h3>How to add our privacy policy display to your project</h3>
      </li>
<li>
  <h3>1: Copy the Json object into your project. </h3>
  <p>Copy and paste the JSON into your own .js file. Make sure to link to it in the body of your html. </p>
  <xmp><script src="path/to/mpnJson.js"></script></xmp>
  <div class="copiedContainer">
    <div class="popupContainer">
    <div class="copiedPopup"><p>Copied!</p></div>
  </div>
  <button id="downloadButton" ng-click="view.copyToClipboard('#jsDownload')"><i class="fa fa-clipboard" aria-hidden="true"></i>&nbspCopy JSON</button>
  </div>
  <code>
    <xmp id="jsDownload">
      var mpnData =
      {{view.jsonPreview}}
</xmp>
</code>
</li>
<li>
  <h3>2: Link to, or download our javascript library. </h3>
  <p>Link to our library in the body of your html, BELLOW your jquery link and the JSON. Please note: the privacy notice is created entirely with jquery.</p>
    <xmp><script src="https://videntity.github.io/pps-display/lib/js/app.min.js"></script></xmp>
  <p>OR download our library</p>
  <a href="https://videntity.github.io/pps-display/lib/js/app.min.js" download><button id="downloadButton">Download</button></a>
</li>
<li>
<h3>3: Link to our CSS</h3>
<p>Copy and paste this link to our CSS library into the <xmp><head></xmp>of your project.</p>
<p><xmp><link rel="stylesheet" href="https://videntity.github.io/pps-display/lib/styles/main.min.css" type="text/css"></xmp></p>
</li>
<li>
<h3>4: Create a container element for the display</h3>
<p> Please make sure to use our className: </p> <xmp><div class="policyDisplay"></div></xmp><p>This container can be nested within your own container with a minimum width of 400px.</p>
</li>
</ul>
</div>
<div class="policyJsonContainer">
  <header>
    <button class="animatedBtn previewBtn" ng-click="view.viewAnimated()">Preview</button>
    <button class="jsonBtn previewBtn" ng-click="view.viewJSON()">JSON</button>
  </header>
  <div class="jsonPreview" ng-show="view.current === 'json'">{{view.jsonPreview}} </div>
  <div class="policyDisplayPreview" ng-show="view.current === 'animate'">
  <div class="policyDisplay"> </div>
</div>
</div>
</div>
<footer>
  <div class="footButtons">
  <button ui-sref="contact">Previous</button>
</div>
</footer>
</main>
